{{ define "main" }}
<div class="home">
  <h1>{{ .Title }}</h1>

  <div class="home-logo">{{ partial "logo.html" . }}</div>
  <p class="greeting">
    <code>
      <span>2</span><span>0</span><span>0 </span><span>O</span
      ><span>K</span></code
    >
  </p>
  <p class="blurb">
    Thank god you're finally here! I didn't think you'd make it.
  </p>
  <p>
    Look, we don't have a lot of time. Take some time and learn
    <a href="/about">about me</a>. Once that's done, read some blog posts.
  </p>

  <h2>Blog posts</h2>
  <ul>
    {{ range (.Paginate .Site.RegularPages).Pages }} {{ if ne .RelPermalink
    "/about/" }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
      $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </li>
    {{ end }} {{ end }}
  </ul>
</div>
{{ end }}
