:root {
  --ctp-latte-rosewater: #dc8a78;
  --ctp-latte-flamingo: #dd7878;
  --ctp-latte-pink: #ea76cb;
  --ctp-latte-mauve: #8839ef;
  --ctp-latte-red: #d20f39;
  --ctp-latte-maroon: #e64553;
  --ctp-latte-peach: #fe640b;
  --ctp-latte-yellow: #df8e1d;
  --ctp-latte-green: #40a02b;
  --ctp-latte-teal: #179299;
  --ctp-latte-sky: #04a5e5;
  --ctp-latte-sapphire: #209fb5;
  --ctp-latte-blue: #1e66f5;
  --ctp-latte-lavender: #7287fd;
  --ctp-latte-text: #4c4f69;
  --ctp-latte-subtext1: #5c5f77;
  --ctp-latte-subtext0: #6c6f85;
  --ctp-latte-overlay2: #7c7f93;
  --ctp-latte-overlay1: #8c8fa1;
  --ctp-latte-overlay0: #9ca0b0;
  --ctp-latte-surface2: #acb0be;
  --ctp-latte-surface1: #bcc0cc;
  --ctp-latte-surface0: #ccd0da;
  --ctp-latte-base: #eff1f5;
  --ctp-latte-mantle: #e6e9ef;
  --ctp-latte-crust: #dce0e8;
  --ctp-latte-filter-teal: invert(37%) sepia(100%) saturate(320%)
    hue-rotate(135deg) brightness(105%) contrast(104%);

  --ctp-mocha-rosewater: #f5e0dc;
  --ctp-mocha-flamingo: #f2cdcd;
  --ctp-mocha-pink: #f5c2e7;
  --ctp-mocha-mauve: #cba6f7;
  --ctp-mocha-red: #f38ba8;
  --ctp-mocha-maroon: #eba0ac;
  --ctp-mocha-peach: #fab387;
  --ctp-mocha-yellow: #f9e2af;
  --ctp-mocha-green: #a6e3a1;
  --ctp-mocha-teal: #94e2d5;
  --ctp-mocha-sky: #89dceb;
  --ctp-mocha-sapphire: #74c7ec;
  --ctp-mocha-blue: #89b4fa;
  --ctp-mocha-lavender: #b4befe;
  --ctp-mocha-text: #cdd6f4;
  --ctp-mocha-subtext1: #bac2de;
  --ctp-mocha-subtext0: #a6adc8;
  --ctp-mocha-overlay2: #9399b2;
  --ctp-mocha-overlay1: #7f849c;
  --ctp-mocha-overlay0: #6c7086;
  --ctp-mocha-surface2: #585b70;
  --ctp-mocha-surface1: #45475a;
  --ctp-mocha-surface0: #313244;
  --ctp-mocha-base: #1e1e2e;
  --ctp-mocha-mantle: #181825;
  --ctp-mocha-crust: #11111b;
  --ctp-mocha-filter-teal: invert(89%) sepia(69%) saturate(262%)
    hue-rotate(89deg) brightness(94%) contrast(88%);

  --font-size-tiny: 0.75rem;
  --font-size-small: 1rem;
  --font-size-regular: 1.25rem;
  --font-size-big: 2.5rem;
  --max-width: 65ch;

  --clr-body-bg: var(--ctp-latte-base);
  --clr-text: var(--ctp-latte-text);
  --clr-subtext: var(--ctp-latte-subtext0);
  --clr-link: var(--ctp-latte-blue);
  --clr-color-picker: var(--ctp-latte-surface0);
  --clr-teal: var(--ctp-latte-teal);
  --clr-sapphire: var(--ctp-latte-sapphire);
  --clr-surface: var(--ctp-latte-surface);
  --clr-filter-teal: var(--ctp-latte-filter-teal);
  color-scheme: light;
  .top-bar .dark {
    display: none;
  }
}

:root:has(#colorscheme:checked) {
  --clr-body-bg: var(--ctp-mocha-base);
  --clr-text: var(--ctp-mocha-text);
  --clr-subtext: var(--ctp-mocha-subtext0);
  --clr-link: var(--ctp-mocha-blue);
  --clr-color-picker: var(--ctp-mocha-surface0);
  --clr-teal: var(--ctp-mocha-teal);
  --clr-sapphire: var(--ctp-mocha-sapphire);
  --clr-surface: var(--ctp-mocha-surface);
  --clr-filter-teal: var(--ctp-mocha-filter-teal);
  color-scheme: dark;
  .top-bar .light {
    display: none;
  }
  .top-bar .dark {
    display: inline;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-body-bg);
  color: var(--clr-text);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;

  @media only screen and (max-width: 768px) {
    /* font-size: 1.2rem; */
  }
}

h1,
h2,
h3,
h4 {
  /* We don't want too much spacing on headers. */
  line-height: 1.1;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
}

h4 {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}

p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  word-wrap: break-word;
}

ol,
ul {
  list-style-position: inside;
}

article {
  max-width: var(--max-width);

  h1 {
    font-size: 3rem;
    text-align: center;
    text-wrap: balance;

    @media only screen and (max-width: 768px) {
      font-size: 2.5rem;
    }
  }

  .article-meta {
    font-size: var(--font-size-tiny);

    .date-and-time {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}

article.single {
  h1 {
    margin-bottom: 0.8rem;
  }

  &.dateless {
    h1 {
      margin-bottom: 2rem;
    }
  }
}

article.timeless {
  margin-block-end: 5rem;
}

figure {
  margin: 2rem 0;
  img {
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  figcaption {
    font-size: var(--font-size-small);
    text-align: center;
    text-wrap: balance;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.highlight div,
.highlight pre {
  overflow-x: auto;
}

div.highlight {
  border-top: solid 1px var(--clr-teal);
  border-bottom: solid 1px var(--clr-teal);
  /* border: solid 1px var(--clr-teal); */

  /* I'm being clever and pushing the scrollbar away 
   * from the text in a way that isn't obvious when
   * there's no scrollbar. */
  padding-block-start: 1rem;

  pre {
    padding-block-end: 1rem;
    padding-inline: 0.5rem;
    padding-block-start: 0.5rem;
    margin: 0;

    code {
      font-family: "IBM Plex Mono", monospace;
      font-size: var(--font-size-small);
    }
  }
}

footer {
  margin-block-end: 5rem;

  hr {
    margin: 2rem auto;
    height: 1px;
    color: var(--clr-subtext);
    background-color: var(--clr-text);
    border: none;
  }

  .fine-print {
    font-size: var(--font-size-tiny);
    color: var(--clr-subtext);
  }
}

blockquote {
  margin-inline-start: 0;
  padding-inline-start: 1rem;
  border-left: solid 1px var(--clr-subtext);
  color: var(--clr-subtext);
}

a {
  text-decoration: none;
  color: var(--clr-link);
}

.home {
  h1 {
    font-size: var(--font-size-regular);
    color: var(--clr-teal);
    text-transform: uppercase;
    margin-bottom: 4rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
  }

  .home-logo {
    margin: 3rem auto;
    width: 100px;
    padding: 1rem;
    border: solid 2px var(--clr-sapphire);
    border-radius: 5%;
    animation: bobbing 25s 10s ease-in-out infinite; /* adjust duration as needed */

    svg {
      display: block;
      margin: auto;
      filter: var(--clr-filter-teal);
    }
  }

  .greeting {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: var(--font-size-regular);
    code {
      span {
        display: inline-block;
      }
      span:nth-child(1) {
        animation: bounce 1s 15s cubic-bezier(0.28, 0.84, 0.42, 1) infinite; /* adjust duration as needed */
      }
      span:nth-child(2) {
        animation: bounce 2.3s 15.4s cubic-bezier(0.28, 0.84, 0.42, 1) infinite; /* adjust duration as needed */
      }
      span:nth-child(3) {
        animation: bounce 1.3s 16.1s cubic-bezier(0.28, 0.84, 0.42, 1) infinite; /* adjust duration as needed */
      }
      span:nth-child(4) {
        margin-left: 1ch;
        animation: bounce 1.7s 17.7s cubic-bezier(0.28, 0.84, 0.42, 1) infinite; /* adjust duration as needed */
      }
      span:nth-child(5) {
        animation: bounce 3.2s 18.6s cubic-bezier(0.28, 0.84, 0.42, 1) infinite; /* adjust duration as needed */
      }
    }
  }

  ul {
    list-style: none;
    font-size: var(--font-size-small);

    &.pages {
      li {
        margin-bottom: 1rem;
      }
    }
  }

  .blog-list {
    line-height: 1.4;

    a {
      display: block;
    }

    time {
      display: block;
      font-size: var(--font-size-tiny);
      color: var(--clr-subtext);
      margin-bottom: 1rem;
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-50px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes bobbing {
  0% {
    transform: translateY(0rem) translateX(0px) rotate(0deg);
  }
  13% {
    transform: translateY(-1rem) translateX(-100px) rotate(5deg);
  }
  25% {
    transform: translateY(1rem) translateX(-200px) rotate(-20deg);
  }
  50% {
    transform: translateY(-1rem) translateX(0px) rotate(0deg);
  }
  75% {
    transform: translateY(1rem) translateX(200px) rotate(380deg);
  }
  100% {
    transform: translateY(0rem) translateX(0px) rotate(0deg);
  }
}

@media only screen and (max-width: 768px) {
  @keyframes bobbing {
    0% {
      transform: translateY(0) translateX(0px) rotate(0deg);
    }
    25% {
      transform: translateY(-1rem) translateX(-100px) rotate(-20deg);
    }
    50% {
      transform: translateY(-2rem) translateX(0px) rotate(0deg);
    }
    75% {
      transform: translateY(-1rem) translateX(100px) rotate(380deg);
    }
    100% {
      transform: translateY(0) translateX(0px) rotate(0deg);
    }
  }
}
.table-of-contents-wrapper {
  width: fit-content;
  font-size: var(--font-size-tiny);
  cursor: pointer;
  color: var(--clr-teal);

  nav ul {
    margin-inline-start: 3px;
    list-style: none;
    padding-inline-start: 0;
    padding-inline-start: 1rem;
    border-left: solid 1px var(--clr-teal);
  }
}

.not-found-page {
  text-align: center;
}

/* handle word `like this` in paragraphs */
p > code {
  color: var(--clr-teal);
  font-family: "IBM Plex Mono", monospace;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: no-wrap;
  width: 1px;
}

.top-bar > fieldset {
  border: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-top: 2rem;

  a,
  label {
    color: var(--clr-text);
    font-size: var(--font-size-regular);
    cursor: pointer;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  label:has(input[type="checkbox"]:focus-visible) {
    outline: auto 1px;
    outline-offset: 1px;
  }
}
