Hi. I'm Tom Steven. I'm a programmer living in St. Catharines, Ontario, Canada.
Thanks for visiting my site. You learn about me <a href="/about">here</a>, or
find me on <a href="https://x.com/tom_on_the_net">X</a> and
<a href="https://www.linkedin.com/in/thomaspatricksteven/">LinkedIn</a>. I also
have a
<a href="https://www.youtube.com/channel/UC2NXVB__-v-hf-l6wcg1zjQ"
  >YouTube channel</a
>
that you might enjoy. I share some code on
<a href="https://github.com/tom-on-the-internet">GitHub</a>.
